<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mongoose</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
  <style>
    .card-content{
      overflow: scroll !important;
    }
  </style>
  <script type ="text/javascript">
      $(document).ready(function (){
          $(document).on('click', 'input', function (event) {
              $(this).siblings('label').empty();
          })
          $(document).on('click', 'textarea', function (event) {
              $(this).siblings('label').empty()
          })

          $('.show_users').hide()

          let socket = io.connect();
//          New User section
          $( "#new_user" ).on( "submit", function( event ) {
              let form_data = $( this ).serializeArray();
//              console.log(form_data);
              socket.emit("user_submit", {form_data: form_data});
              $('input').val('')
              event.preventDefault();
          });
//          Get Data From Server
          socket.on('return_user', function (data){
              $('.user-alert').empty()
              if(data.errors){
                  if(data.user.name){
                      $('.user-alert-name').append(' ' + data.user.name.message)
                  }
                  if(data.user.age){
                      $('.user-alert-age').append(' ' + data.user.age.message)
                  }
              } else {
                  $('.user_table').append($("<tr>").append($('<td>').text(data.user.name))
                      .append($('<td>').text(data.user.age))
                      .append($('<td>').html("<button class='btn-flat red lighten-1 remove_user' value='" + data.user._id + "' >Delete</button>")));
              }
          });
//          End New User Section
//          New Quote Section
//          Emit Data To Server
          $( ".new_quote" ).on( "submit", function( event ) {
              let form_data = $( this ).serializeArray();
              socket.emit("quote_submit", {form_data: form_data});
              $(this).children().children().children().children().children().val('');
              event.preventDefault();
          });
//          Get Data From Server
          socket.on('return_quote', function (data){
              $('.quote-alert').empty()
              if(data.errors){
                  if(data.quote.name){
                      $('.quote-alert-name').append(data.quote.name.message)
                  }
                  if(data.quote.quote){
                      $('.quote-alert-quote').append(data.quote.quote.message)
                  }
              } else {
                  $('.quote_table').append($('<tr>').append($('<td>').text(data.quote.name))
                      .append($('<td>').text(data.quote.quote))
                      .append($('<td>').html("<button class='btn-flat red lighten-1 remove_quote' value='" + data.quote._id + "' >Delete</button>")));
              }


          });
//          End New Quote Section

//          Remove User Emit
          $(document).on('click', '.remove_user', function (event) {
              let button_id = $(this).val();
              socket.emit('remove_user', {user: button_id})
              $(this).parent().parent().remove() // Removes Element on page
          })
//           Remove Quote Emit
          $(document).on('click', '.remove_quote', function (event) {
              let button_id = $(this).val();
              socket.emit('remove_quote', {quote: button_id})
              $(this).parent().parent().remove() // Removes Element on page
          })
      })
  </script>
</head>
<body class="grey lighten-2">
<div class="container">
  <div class="row">
    <form id="new_user" method="post" action="users" class="col s12 m6 new_user">
      <div class="card small z-depth-5 blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Add User</span>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Name" name="name" id="name" type="text" class="validate">
              <label for="age" class="user-alert user-alert-name red-text"></label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Age" name="age" id="age" type="text" class="validate">
              <label for="age" class="user-alert user-alert-age red-text"></label>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn-flat light-green">Submit</button>
          <button class="btn-flat red" type="reset">Reset</button>
        </div>
      </div>
    </form>
    <!--Card 2-->
    <form method="post" action="quote" class="col s12 m6 new_quote">
      <div class="card small z-depth-5 blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Make A Quote</span>
          <div class="row">
            <div class="input-field col s12 user_alerts">
              <input placeholder="Name" name="name" id="name user_input" type="text" class="validate">
              <label for="name" class="quote-alert quote-alert-name red-text"></label>
            </div>
            <div class="input-field col s12">
              <textarea placeholder="Quote" name="quote" id="age user_input" type="text" class="validate materialize-textarea"></textarea>
              <label for="quote" class="quote-alert quote-alert-quote red-text"></label>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn-flat light-green">Submit</button>
          <button class="btn-flat red" type="reset">Reset</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card z-depth-5 small">
        <div class="card-content">
          <span class="card-title center-aligna">All Users</span>
            <span class="black-text">
              <table class="scroll-table">
                <thead>
                <tr>
                  <th data-field="name">Name</th>
                  <th data-field="age">Age</th>
                  <th data-field="id">Action</th>
                </tr>
                </thead>
                <tbody class="user_table">
                <% if(users) { %>
                  <% for(var i = 0; i < users.length; i += 1){ %>
                  <tr>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].age %></td>
                    <td><button class="btn-flat red lighten-1 remove_user" value="<%= users[i].id %>">Delete</button></td>
                  </tr>
                  <% } %>
                <% } %>
                </tbody>
            </table>
            </span>
        </div>

      </div>
    </div>
    <div class="col s12 m6">
      <div class="card z-depth-5 small">
        <div class="card-content">
          <span class="card-title center-aligna">All Users</span>
            <span class="black-text">

              <table class="scroll-table">
                <thead>
                <tr>
                  <th data-field="name">Name</th>
                  <th data-field="age">Age</th>
                  <th data-field="id">Action</th>
                </tr>
                </thead>
                <tbody class="quote_table">
                <% if(quotes) { %>
                  <% for(let quote in quotes){ %>
                  <tr>
                    <td><%= quotes[quote].name %></td>
                    <td><%= quotes[quote].quote %></td>
                    <td><button class="btn-flat red lighten-1 remove_quote" value="<%= quotes[quote].id %>">Delete</button></td>
                  </tr>
                  <% } %>
                <% } %>
                </tbody>
            </table>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>